<!DOCTYPE html>
<html>
<head>
    <title>Integral</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to Integral</h1>
    </div>
    <nav class="navbar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/create">New Post</a>
        <a class="nav-link" href="/update">Edit Post</a>
        <a class="nav-link" href="/servedelete">Delete Post</a>
    </nav>
    {{ template "content" . }}
</body>
</html>
